<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijj.exam.dao.CourseInfoMapper">
	<resultMap type="com.lijj.exam.pojo.CourseInfo" id="queryCourses">
		<id column="courseId" property="courseId"/>
		<result column="courseName" property="courseName"/>
		<result column="division" property="division"/>
		<association property="gradeInfo" javaType="com.lijj.exam.pojo.GradeInfo">
			<id column="gradeId" property="gradeId"/>
			<result column="gradeName" property="gradeName"/>
		</association>
	</resultMap>
	<select id="getAllCourses" resultMap="queryCourses">
		select * from courseinfo c,gradeinfo g where c.gradeId=g.gradeId order by courseId
	</select>
	<insert id="addCourse" parameterType="com.lijj.exam.pojo.CourseInfo">
		insert into courseinfo values(NUll,#{courseName},#{division},#{gradeInfo.gradeId})
	</insert>
	<update id="updateCourse" parameterType="com.lijj.exam.pojo.CourseInfo">
		update courseinfo set courseName=#{courseName},division=#{division},gradeId=#{gradeInfo.gradeId}
			where courseId=#{courseId}
	</update>
	<delete id="deleteCourse" parameterType="java.lang.Integer">
		delete from courseinfo where courseId=#{courseId}
	</delete>
</mapper>